.bus-book {
  height: calc(100vh - 7rem);
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 7.5rem;
  background-color: var(--bg);
}

.bus-book .bus-book-info {
  height: 100%;
  width: 59%;
  border-radius: 1rem;
  background-color: #fff;
  color: #000;
}

.bus-book .bus-book-seats {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border-radius: 1rem;
  background-color: #fff;
  color: #000;
}

.bus-book .bus-book-info .destination {
  position: relative;
  height: 40%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.bus-book .bus-book-info .destination .departure,
.bus-book .bus-book-info .destination .arrival {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  font-weight: 500;
}

.bus-book .bus-book-info .destination .title {
  font-size: 1rem;
}

.bus-book .bus-book-info .destination .data {
  font-size: 1.5rem;
  color: var(--secondary);
}

.bus-book .bus-book-info .destination .date {
  font-size: 1rem;
}

.bus-book .bus-book-info .destination .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--secondary);
}

.bus-book .bus-book-info .additional-info {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
}

.bus-book .bus-book-info .additional-info .title-wrapper p,
.bus-book .bus-book-info .additional-info .value-wrapper p {
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 2px solid #000;
  font-size: 1.1rem;
  text-align: center;
}

.bus-book .bus-book-info .additional-info .title-wrapper,
.bus-book .bus-book-info .additional-info .value-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bus-book .bus-book-info .choose-seats {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bus-book .bus-book-info .choose-seats .seats-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.bus-book .bus-book-info .choose-seats .seats-wrapper i {
  font-size: 1.1rem;
  color: var(--secondary);
  opacity: 0.85;
}

.bus-book .bus-book-info .choose-seats .seats-wrapper .note {
  font-size: 1.1rem;
  opacity: 0.85;
}
