.home {
  height: calc(100vh - 8.5rem);
  margin: 0 7.5rem 0 7.5rem;
  color: #fff;
}

.home .filter-wrapper {
  position: relative;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.filter-inputs {
  display: flex;
  gap: 1rem;
}

.filter-buttons {
  display: flex;
  gap: 1rem;
}

.home input {
  height: 2.2rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  background-color: var(--bg);
  color: #fff;
  text-align: center;
}

.home input::placeholder {
  color: #fff;
}

.home input:hover {
  border-color: var(--secondary);
}

.home .filter-wrapper button {
  height: 2.2rem;
  width: 7rem;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  color: var(--bg);
}

.home .filter-wrapper button:hover {
  color: var(--secondary);
}

.home .buses-wrapper {
  display: flex;
  flex-direction: column;
}

.home .buses-wrapper .no-buses {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  opacity: 0.6;
}

.home-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -25%);
}

.bus-book-wrapper {
  position: relative;
  height: 6.9rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
}

.bus-book-wrapper:hover {
  border-color: var(--secondary);
  cursor: pointer;
}

.bus-book-wrapper .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
  font-size: 3rem;
}

.bus-book-wrapper:hover .arrow {
  color: var(--secondary);
}

.bus-book-wrapper .direction {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bus-book-wrapper .title {
  font-size: 0.8rem;
}

.bus-book-wrapper .data {
  color: var(--primary);
  font-size: 1.5rem;
}

.bus-book-wrapper .date {
  font-size: 0.9rem;
}

.bus-book-wrapper .direction div {
  width: 100%;
}
