.bus-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bus-info-wrapper input {
  border: 2px solid #444;
}

.bus-info-wrapper .arrow {
  position: absolute;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.bus-info-wrapper .arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  cursor: default;
}

.addresses {
  position: relative;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addresses .title,
.addresses input {
  text-align: center;
}

.dates {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dates div .title,
.dates div input {
  text-align: center;
}

.bottom-part {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1rem 4.5rem;
}

.bottom-part div {
  display: flex;
  align-items: center;
}

.bottom-part div .title {
  width: 8rem;
}

.bottom-part div input {
  height: 1.75rem;
  width: 12rem;
  padding-left: 0.5rem;
}

.bottom-part div .react-tel-input {
  height: 1.75rem;
  width: 12rem;
}

.bottom-part div .react-tel-input .form-control {
  height: 100%;
  padding-left: 0.5rem;
  border: none;
  border-radius: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.bottom-part div .react-tel-input .flag-dropdown {
  height: 100%;
  right: 0;
  border-left: 2px solid #444;
  border-radius: 0;
  background-color: #fff;
}

.bottom-part div .react-tel-input .flag-dropdown .selected-flag {
  position: relative;
  padding: 0;
}

.bottom-part div .react-tel-input .flag-dropdown .selected-flag .flag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: #fff;
}

.bottom-part div .react-tel-input .flag-dropdown .selected-flag .arrow {
  display: none;
}

.bottom-part div .react-tel-input .country-list {
  top: -33vh;
  left: -10rem;
}