.bus-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bus-info-wrapper input {
  border: 2px solid #444;
}

.bus-info-wrapper .arrow {
  position: absolute;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.bus-info-wrapper .arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  cursor: default;
}

.addresses {
  position: relative;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addresses .title,
.addresses input {
  text-align: center;
}

.dates {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dates div .title,
.dates div input {
  text-align: center;
}

.bottom-part {
  margin: 0 auto;
  height: 60%;
  padding: 1rem 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bottom-part div {
  display: flex;
}

.bottom-part div .title {
  width: 8rem;
}

.bottom-part div input {
  padding-left: 0.5rem;
}
