.loader-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 100;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader img {
  height: 7rem;
  width: 7rem;
}
