.departure-map,
.arrival-map {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.departure-map .departure-wrapper,
.arrival-map .arrival-wrapper {
  width: 90%;
  display: flex;
  gap: 1rem;
}

.departure-map .departure-wrapper .title {
  font-size: 1.2rem;
  width: 50%;
}

.arrival-map .arrival-wrapper .title {
  font-size: 1.2rem;
  width: 50%;
}

.departure-map .departure-wrapper input {
  width: 75%;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.arrival-map .arrival-wrapper input {
  width: 145%;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.map-wrapper .map-footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.map-wrapper .map-footer i {
  font-size: 1.5rem;
  color: #444;
}

.map-wrapper .map-footer .note {
  color: #444;
}

.color-red {
  color: var(--secondary) !important;
}

.map-wrapper .map-footer button {
  position: absolute;
  right: 1rem;
  height: 2rem;
  width: 7rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary);
  font-size: 18px;
  cursor: pointer;
}

.map-wrapper .map-footer button:hover {
  border: 3px solid var(--secondary);
}

.leaflet-container {
  height: 90%;
  width: 90%;
  border-radius: 0.3rem;
}

.leaflet-container:hover {
  cursor: pointer;
}

.leaflet-popup-content {
  text-align: center;
}

