.modal-mask {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  height: 88%;
  width: 80vw;
  top: 4.4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  color: black;
  overflow-y: hidden;
}

.modal .close {
  position: absolute;
  top: 0.1rem;
  right: 0.5rem;
  color: black;
  font-size: 2rem;
}

.modal i:hover {
  color: var(--secondary);
  cursor: pointer;
}

.modal .modal-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal .modal-wrapper .modal-header {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.modal .modal-wrapper .modal-header .title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.modal .modal-wrapper .modal-header .step {
  position: absolute;
  left: 1.5rem;
  font-size: 18px;
}

.modal-wrapper .task {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.modal-wrapper .modal-step {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
}

.modal-wrapper .modal-footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
}

.modal-wrapper .modal-footer div {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin: 0;
  padding: 0;
  border: none;
}

.modal-wrapper .modal-footer div i {
  color: #444;
  font-size: 1.5rem;
}

.modal-wrapper .modal-footer div .note {
  color: #444;
}

.color-red {
  color: var(--secondary) !important;
}

.modal-wrapper .modal-footer button,
.modal-wrapper .modal-footer .prev-btn {
  position: absolute;
  height: 2rem;
  width: 7rem;
  right: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary);
  font-size: 18px;
  cursor: pointer;
}

.modal-wrapper .modal-footer button {
  right: 1rem;
}

.modal-wrapper .modal-footer .prev-btn {
  left: 1rem;
}

.modal-wrapper .modal-footer button:hover {
  border: 3px solid var(--secondary);
}

/* adaptive */
