.table-header {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 0 2rem;
}

.table-header .title {
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
}

.table-header button {
  height: 2.2rem;
  width: 8rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  background-color: var(--bg);
  color: #fff;
  font-size: 1rem;
  transition: 0.5s;
}

.table-header button:hover {
  border: 2px solid var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

.table-actions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.table-actions-wrapper i {
  cursor: pointer;
}

.table-actions-wrapper i:hover {
  color: var(--secondary);
}

/* Adaptive */
@media (max-width: 450px) {
  .table-header {
    height: 4rem;
    padding: 0;
  }

  .table-header .title {
    font-size: 1.5rem;
  }

  .table-header button {
    height: 2rem;
    width: 7rem;
    font-size: 0.8rem;
  }
}
