@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary: #45f3ff;
  --secondary: #ff2770;
  --bg: #0e133b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
}

body {
  overflow: hidden;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Antd Styles*/
.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.ant-pagination-item:not(.ant-pagination-item-active) a {
  border-radius: 0.3rem;
  background-color: #fff;
  opacity: 0.5;
}
