.ant-modal-wrap {
  height: 100vh;
  overflow-y: hidden !important;
}

.ant-modal-content {
  padding: 0.7rem 1.5rem !important;
}

.ant-modal-title {
  font-size: 1.5rem !important;
}

.btns {
  display: flex;
  justify-content: flex-end;
}

.btns Button {
  height: 2.5rem;
  width: 5rem;
  border: 2px solid var(--bg);
  color: var(--bg);
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
