/* .buses-container {
  height: calc(100vh - 4rem);
  padding: 0 1.5rem;
  color: #fff;
} */

.buses-header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 0 2rem;
}

.buses-container .buses-header .title {
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
}

.buses-container .buses-header button {
  height: 2.2rem;
  width: 8rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  background-color: var(--bg);
  color: #fff;
  font-size: 1rem;
  transition: 0.5s;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.buses-container .buses-header button:first-of-type {
  display: none;
}

.buses-container .buses-header button:hover {
  border: 2px solid var(--secondary);
  color: var(--primary);
  cursor: pointer;
}

/* Adaptive */
@media (max-width: 450px) {
  .buses-header {
    height: 4rem;
    padding: 0;
  }

  .buses-container .buses-header .title {
    font-size: 1.5rem;
  }

  .buses-container .buses-header button {
    height: 2rem;
    width: 7rem;
    font-size: 0.8rem;
  }
}
