.loader-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  /* z-index: 10; */
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader img {
  height: 7rem;
  width: 7rem;
}

/* .h-screen {
  min-height: 100vh;
}

.w-400 {
  width: 400px;
} */

/* input {
  height: 40px;
  border: 2px solid gray;
  width: 100%;
  padding-left: 10px;
} */

/* .card {
  border: 2px solid gray;
  box-shadow: 0 0 2px gray;
} */

/* .text-2xl {
  font-size: 30px;
}

.text-xl {
  font-size: 25px;
}

.text-lg {
  font-size: 20px;
}

.text-md {
  font-size: 18px;
} */

/* .primary-btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.secondary-btn {
  background-color: var(--secondary);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
} */

/* a {
  text-decoration: none;
  color: var(--primary);
} */
