.layout-container {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 15px;
}

.body {
  width: 100%;
}

.header {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.45);
  width: 100%;
  padding: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  border-radius: 5px;
  background-color: var(--secondary);
}

.logo {
  margin-top: 20px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.role {
  margin-bottom: 100px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;
  transition: 0.3s;
  cursor: pointer;
}

.menu-item__active {
  border: 2px solid white;
  border-radius: 5px;
}

.menu-item i {
  margin-right: 10px;
  color: white;
  font-size: 20px;
}

.menu-item span {
  color: white;
  font-size: 20px;
}

.content {
  padding: 10px;
}
