.layout-container {
  min-height: 100vh;
  width: 100vw;
  background: var(--bg);
}

.layout-container header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9rem;
  border-bottom: 3px solid var(--secondary);
}

.admin-header {
  padding: 0 1.5rem !important;
}

.layout-container header .logo {
  height: 50%;
  cursor: pointer;
}

.layout-container header .logo div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  text-decoration: none;
}

.layout-container header .logo div:hover {
  color: var(--primary);
}

.layout-container header .logo div h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.layout-container header .logo div img {
  height: 95%;
}

.layout-container header nav {
  display: flex;
  gap: 1.5rem;
}

.layout-container header nav .nav-item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
}

.layout-container header nav .nav-item__active {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  border-radius: 0.3rem;
  color: var(--primary);
}

.layout-container header nav .nav-item:hover {
  color: var(--primary);
  cursor: pointer;
}

.layout-container header nav .nav-item .nav-item-name {
  font-size: 1.2rem;
  font-weight: 400;
}

/* delete */
main {
  color: white;
}
