.map-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map-wrapper .map-header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.map-wrapper .map-header .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.map-wrapper .map-header .step {
  position: absolute;
  left: 1.5rem;
  font-size: 18px;
}

.map-wrapper .task {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  /* font-weight: 500; */
  text-align: center;
}

.map-wrapper .maps-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 0.5rem;
  /* padding: 1rem; */
}

.map-wrapper .maps-wrapper .departure-map,
.map-wrapper .maps-wrapper .arrival-map {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.map-wrapper .maps-wrapper .departure-map .departure-wrapper,
.map-wrapper .maps-wrapper .arrival-map .arrival-wrapper {
  width: 80%;
  display: flex;
  gap: 1rem;
}

.map-wrapper .maps-wrapper .departure-map .departure-wrapper .title {
  font-size: 1.2rem;
  width: 30%;
}

.map-wrapper .maps-wrapper .arrival-map .arrival-wrapper .title {
  font-size: 1.2rem;
  width: 20%;
}

.map-wrapper .maps-wrapper .departure-map .departure-wrapper input {
  width: 65%;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.map-wrapper .maps-wrapper .arrival-map .arrival-wrapper input {
  width: 75%;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.map-wrapper .map-footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.map-wrapper .map-footer i {
  font-size: 1.5rem;
  color: #444;
}

.map-wrapper .map-footer .note {
  color: #444;
}

.color-red {
  color: var(--secondary) !important;
}

.map-wrapper .map-footer button {
  position: absolute;
  right: 1rem;
  height: 2rem;
  width: 7rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary);
  font-size: 18px;
  cursor: pointer;
}

.map-wrapper .map-footer button:hover {
  border: 3px solid var(--secondary);
}

.leaflet-container {
  height: 90%;
  width: 90%;
  border-radius: 0.3rem;
}

.leaflet-container:hover {
  cursor: pointer;
}

.leaflet-popup-content {
  text-align: center;
}
