.modal-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  height: 88%;
  width: 80vw;
  position: absolute;
  top: 4.8rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 3px solid var(--secondary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.modal i {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: black;
  font-size: 2rem;
}

.modal i:hover {
  cursor: pointer;
  color: var(--secondary);
}

/* adaptive */

