.left,
.right {
  width: 50%;
  height: 67vh;
}

.left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.left .form-wrapper {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* margin-top: 2rem; */
  padding-left: 25%;
  border: 2px solid red;
}

.left .form-wrapper label {
  position: relative;
  margin-right: 1rem;
  font-size: 1.1rem;
  width: 8.5rem;
}

.left .form-wrapper input {
  width: 2rem;
  text-align: center;
}

.left .form-wrapper label select {
  position: absolute;
  left: calc(100% + 1rem);
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* padding-bottom: 0.3rem; */
  border: 2px solid black;
}

.right .bus-wrapper {
  position: relative;
  height: 100%;
  width: 50%;
  border: 2px solid #444;
  border-radius: 2rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .seat-wrapper {
  position: relative;
}

.right .bus-wrapper img {
  width: 100%;
  height: 100%;
}

.right .bus-wrapper .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  font-size: 0.8rem;
  cursor: default;
}

.right .bus-wrapper .driver {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.right .bus-wrapper .left-seats {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .right-seats {
  grid-column: 5 / 6;
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .back-seats {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .door {
  position: absolute;
  height: 20%;
  width: 20%;
  top: 20%;
  right: -10.5%;
  transform: scale(1.3);
}

/* .right .bus-wrapper .door {
  position: absolute;
  top: 20%;
  right: -10.5%;
  margin-left: 20%;
  transform: scale(1.3);
} */
