.bus-wrapper.large {
  min-height: 5vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bus-wrapper .driver-large {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.bus-wrapper #door-large-1,
.bus-wrapper #door-large-2 {
  position: absolute;
  right: -55%;
  transform: scale(1.2);
}

.bus-wrapper #door-large-1 {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

.bus-wrapper #door-large-2 {
  grid-column: 5 / 6;
  grid-row: 9 / 10;
}

.bus-wrapper .left-seats-large {
  grid-column: 1 / 3;
  grid-row: 3 / 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bus-wrapper .front-seat-large {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bus-wrapper .right-front-seats-large {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bus-wrapper .right-middle-seats-large {
  grid-column: 4 / 6;
  grid-row: 4 / 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bus-wrapper .back-seats-large {
  grid-column: 1 / 6;
  grid-row: 10 / 11;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bus-wrapper.large .seat-wrapper {
  height: calc(67vh / 10);
  transform: scale(0.9);
}

.bus-wrapper.large .seat-wrapper span {
  transform: translate(-50%, -10%);
  font-size: 0.8rem;
}
