.right .bus-wrapper.mini {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .driver-mini {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.right .bus-wrapper .door-mini {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  position: absolute;
  right: -52.5%;
  transform: scale(1.3);
}

.right .bus-wrapper .front-seats-mini {
  grid-column: 3 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .left-seats-mini {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .right-seats-mini {
  grid-column: 5 / 6;
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .back-seats-mini {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
