.right .bus-wrapper.standard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .driver-standard {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.right .bus-wrapper #door-standard-1,
.right .bus-wrapper #door-standard-2 {
  position: absolute;
  right: -55%;
  transform: scale(1.2);
}

.right .bus-wrapper #door-standard-1 {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

.right .bus-wrapper #door-standard-2 {
  grid-column: 5 / 6;
  grid-row: 7 / 8;
}

.right .bus-wrapper .left-seats-standard {
  grid-column: 1 / 3;
  grid-row: 3 / 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .right-seats-front-standard {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .right-seats-middle-standard {
  grid-column: 5 / 6;
  grid-row: 4 / 7;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .right-seats-back-standard {
  grid-column: 5 / 6;
  grid-row: 8 / 9;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper .back-seats-standard {
  grid-column: 1 / 6;
  grid-row: 9 / 10;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right .bus-wrapper.standard .seat-wrapper {
  height: calc(67vh / 9);
  transform: scale(0.90);
}

.right .bus-wrapper.standard .seat-wrapper span {
  transform: translate(-50%, -12%);
  font-size: 0.8rem;
}
